@{
    ViewData["Title"] = "Home";
}

<h1 style="color:red">@ViewBag.Nombre</h1>

@Html.ActionLink("Ir a los Empleados","Index","Empleado")

@section SideBar
    {
    <div class="sidebar1">
        <h2>Bienvenidos!</h2>
        <img  src="https://assets.stickpng.com/images/580b57fbd9996e24bc43bb93.png" alt="imagen" />
    </div>

}
